<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="io.openwar.openwar"
	android:versionCode="1"
	android:versionName="0.0.1">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application android:label="OpenWar"
		android:debuggable="true"
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

		<activity android:name="org.golang.app.GoNativeActivity"
			android:label="OpenWar"
			android:configChanges="keyboardHidden"
			android:screenOrientation="landscape">

			<meta-data android:name="android.app.lib_name" android:value="openwar" />

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
